<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>De nouveaux épisodes sont disponibles ! /title>
    <style>
        /* -------------------------------------
          GLOBAL RESETS
      ------------------------------------- */
        /*All the styling goes here*/

    </style>
</head>

<body class="">
    {{nbEpisodes}} nouveau(x) épisode(s) ont été générés !

    <a href="https://desmotssurdesjeux.gwenaelgirod.com/admin" target="_blank">Accéder à la plateforme d'administration</a>
</body>
</html>